<footer id="mainNav">
    <div class="page-content">
      <div class="row">
        <div class="col-3">
          <div class="footer-links d-flex flex-column">
            <h6>Help</h6>
            <a href="">Shipping</a>
            <a href="">Returns & Exchanges</a>
            <a href="">Warranty</a>
            <a href="">FAQ</a>
            <a href="">Contact Us</a>
          </div>
        </div>
        <div class="col-3">
          <div class="footer-links d-flex flex-column">
            <h6>About PureCarat</h6>
            <a href="">Our Mission</a>
            <a href="">Careers</a>
            <a href="">Stores</a>
            <a href="">Piercing Studio</a>
            <a href="">Styling Appointments</a>
            <a href="">Become A Member</a>
          </div>
        </div>
        <div class="col-3">
          <div class="footer-links d-flex flex-column">
            <h6>Resources</h6>
            <a href="">Jewelry Care</a>
            <a href="">Ring Sizer</a>
            <a href="">Piercing Aftercare</a>
            <a href="">Materials</a>
          </div>
        </div>
        <div class="col-3">
          <div class="footer-newsletter d-flex flex-column">
            <p>Stay updated with our latest collections and exclusive offers by subscribing to our newsletter.</p>
            <form action="" method="POST">
              <input type="email" name="email" placeholder="Your email address" required>
              <button type="submit">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="footer-legal d-flex justify-content-between">
            <div>
              <p>© 2024 PureCarat Inc.</p>
            </div>
            <div class="d-flex gap-4">
              <a href="">Terms and Conditions</a>
              <a href="">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>

<script>
  AOS.init();
</script>