<footer id="mainNav">
    <div class="page-content">
      <div class="row">
        <div class="col-3">
          <div class="footer-links d-flex flex-column">
            <h6>Help</h6>
            <a href="">Shipping</a>
            <a href="">Returns & Exchanges</a>
            <a href="">Warranty</a>
            <a href="">FAQ</a>
            <a href="">Contact Us</a>
          </div>
        </div>
        <div class="col-3"><p>heeeeej</p></div>
        <div class="col-3"><p>heeeeej</p></div>
        <div class="col-3"><p>heeeeej</p></div>
      </div>    
    </div>
</footer>

<script>
  AOS.init();
</script>