<section class="page-header">
    <div class="page-content h-100" style="background-image:url('{{ headerImageUrl }}')">
        <div class="page-header_overlay"></div>
        <div class="row">
            <div class="col-12">
                <h4>OUR STORES</h4>
            </div>
        </div>
    </div>
</section>