<section class="related-items">
    <div class="page-content">
        <div class="row">
            <div class="col-12">
                <h3>You might also like</h3>
            </div>
        </div>
    </div>
</section>