<section class="store-info">
    <div class="page-content">
        <div class="row">
            <div class="col-12">
                <div class="store-info_items d-flex align-items-center justify-content-center">
                    <div class="store-info_item d-flex flex-column align-items-center">
                        <img src="{{ base_url }}/assets/icons/shipping.svg" />
                        <p>Free Shipping On Orders Over €75</p>
                    </div>
                    <div class="store-info_item d-flex flex-column align-items-center">
                        <img src="{{ base_url }}/assets/icons/returns.svg" />
                        <p>Free 30-Day Returns</p>
                    </div>
                    <div class="store-info_item d-flex flex-column align-items-center">
                        <img src="{{ base_url }}/assets/icons/warranty.svg" />
                        <p>2-Year Warranty</p>
                    </div>
                    <div class="store-info_item d-flex flex-column align-items-center">
                        <img src="{{ base_url }}/assets/icons/paylater.svg" />
                        <p>Shop Now, Pay Later</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>