<section class="store-info">
    <div class="page-content">
        <div class="row">
            <div class="col-12">
                <div class="store-info_items d-flex align-items-center justify-content-center">
                    <p>Free Shipping On Orders Over €75</p>
                    <p>Free 30-Day Returns</p>
                    <p>2-Year Warranty</p>
                    <p>Shop Now, Pay Later</p>
                </div>
            </div>
        </div>
    </div>
</section>