@font-face {
  font-family: ff-signature;
  src: url(../fonts/signature.otf);
  font-style: normal;
}
@font-face {
  font-family: ff-fancy;
  src: url(../fonts/fancy.ttf);
  font-style: normal;
}
@font-face {
  font-family: ff-title;
  src: url(../fonts/BebasNeue.ttf);
  font-style: normal;
}

@font-face {
  font-family: ff-primary;
  src: url(../fonts/DMSans-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: ff-primary;
  src: url(../fonts/DMSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ff-primary;
  src: url(../fonts/DMSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ff-primary;
  src: url(../fonts/DMSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: ff-primary;
  src: url(../fonts/DMSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
