/* LEFT PART */
/*.single-item .page-content {
  max-width: 1440px;
  padding: 0 3rem;
}*/
.single-item .swiper {
  position: relative;
  /*position: sticky;
  top: 70px;*/
  max-width: 500px;
  width: 100%;
  max-height: 532px;
  height: 100%;
  margin: 0;
  padding-bottom: 32px;
  /*padding: 0 30px;*/
}
/*.single-item .swiper-wrapper {
  overflow: hidden;
}*/
.single-item .swiper-slide {
  padding-bottom: 0;
}
.single-item .swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.single-item .swiper .swiper-button-prev {
  top: 46%;
  transform: translateY(-50%);
  left: 0 !important;
}
.single-item .swiper .swiper-button-next {
  top: 46%;
  transform: translateY(-50%);
  right: 0 !important;
}
.single-item .swiper .swiper-scrollbar {
  position: absolute;
  bottom: 0;
}
.single-item .swiper .swiper-scrollbar-drag {
  cursor: pointer;
}

/* RIGHT PART */
.single-item_info {
  float: right;
  max-width: 600px;
  width: 100%;
  /*height: 2000px;*/
}
.single-item_info h5 {
  font-family: ff-fancy;
  font-size: 24px;
}
.single-item_info h6 {
  font-size: 18px;
}
.single-item_review {
  margin: 18px 0 24px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--vz-header-bg);
}
.single-item_review span::before {
  color: var(--vz-gray-400);
}
.single-item_review span.checked::before {
  color: var(--vz-header-bg);
}
.single-item_description {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--vz-header-bg);
}
.single-item_description h6 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 24px;
}
.single-item_description p {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  margin: 0;
}
.single-item_description p img {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
.single-item_info button {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 0;
  color: var(--vz-gray-100);
  background-color: var(--vz-header-bg);
  border: 1px solid var(--vz-header-bg);
  transition: 0.3s;
}
.single-item_info button:hover {
  background-color: var(--vz-green-dark);
  border-color: var(--vz-green-dark);
}
