.store-info {
  position: relative;
  padding: 40px 0;
}
.store-info .row {
  padding: 28px 0;
  background-color: var(--vz-beige);
  background-color: var(--vz-beige-dark);
}
.store-info_items {
  gap: 48px;
}
.store-info_items p {
  font-weight: 600;
  margin: 0;
}
