@import "colors.css";
@import "fonts.css";
@import "header.css";
@import "hero.css";
@import "ring-section.css";

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: ff-primary;
  font-size: 16px;
  font-weight: 400;
  color: var(--vz-gray-700);
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: var(--vz-gray-100);
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: var(--vz-gray-100);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--vz-green-light);
}
.page-content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1rem;
}
h3 {
  font-family: ff-fancy;
  font-size: 28px;
  color: var(--vz-header-bg);
  margin: 0;
}
a.explore-more {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  color: var(--vz-header-bg);
}
a.explore-more::after {
  position: relative;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAj0lEQVR4nO3YsQnDMBBA0Z8sEJO0tz+eII3JACkcu3DnYRIM2iCFdcd/oFbwOSSEQJIkSerUCDyBG8nNwBd4Z48JYG8xR9SdxKJqzMeYjifzILGyMYsxlSdzAda24ZlrBoZ/Qq7t4KUPOUtUOPRR4RoOIzpR4vEYFZ7zYUQnSkzisFX5fHgBU/YISZIkkcsPwUZ+ckKpJNQAAAAASUVORK5CYII=");
  background-size: contain;
  margin-left: 8px;
  left: 0;
  transition: left 0.3s;
}
a.explore-more:hover::after {
  left: 4px;
}
