{% extends 'base.html.twig' %}

{% block title %}Not found | {% endblock %}

{% block body %}
   <section class="not-found">
        <div class="page-content h-100">
            <div class="row h-100">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <p>THE PAGE YOU WERE LOOKING FOR DOESN'T EXIST.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}